<section class="intro">
  <div class="container">
    <!--
    <p class="lead">Hi, I'm <strong class="author-name" itemprop="name">{{ site.author.name }}</strong>, a <em itemprop="jobTitle">{{ site.author.job }}</em>. <br>
    {{ site.author.bio }}</p>
    <p>
    	why this blog?
    </p>
  -->


<div class="quoteText">
      &ldquo;We teach best what we most need to learn.&rdquo;
  <br>  &#8213;
    <a class="authorOrTitle" href="#">Richard Bach</a>,
    <span id=quote_book_link_29946>
      <a class="authorOrTitle" href="#">Illusions: The Adventures of a Reluctant Messiah</a>
    </span>

  </div>
</section>
